# IGNORE FOLDER
back/dist/
front/.astro/
front/.ssl/
front/dist/
front/node_modules/

# IGNORE FILE
.env.org
.env.prod
.Identifier
back/local-start-back.sh
front/local-start-front.sh
yanoPortfolio.run
.DS_Store
*.log
