---
import { Icon } from "astro-icon/components";
---

<button onclick="toggleFont()">
  <Icon
    id="unpixelizeButton"
    class="w-6 h-6 hidden hover:text-blue"
    name="file-icons:font"
  />
  <Icon
    id="pixelizeButton"
    class="w-6 h-6 block hover:text-blue"
    name="file-icons:font-bitmap"
  />
</button>

<script is:inline>
  function pageTransition() {
    let currentFont = localStorage.getItem("currentFont");
    if (currentFont === null) {
      initializeFont();
    } else {
      setFont(currentFont, false);
    }
  }

  function initializeFont() {
    setFont("default", false);
  }

  function setFont(font, isToggle) {
    if (font === "default") {
      document.body.classList.add("font-default");
      document.body.classList.remove("font-normal");
      localStorage.setItem("currentFont", "default");
      document.getElementById("pixelizeButton").classList.add("hidden");
      document.getElementById("pixelizeButton").classList.remove("block");
      document.getElementById("unpixelizeButton").classList.remove("hidden");
      document.getElementById("unpixelizeButton").classList.add("block");
    } else if (font === "normal") {
      document.body.classList.add("font-normal");
      document.body.classList.remove("font-default");
      localStorage.setItem("currentFont", "normal");
      document.getElementById("unpixelizeButton").classList.add("hidden");
      document.getElementById("unpixelizeButton").classList.remove("block");
      document.getElementById("pixelizeButton").classList.remove("hidden");
      document.getElementById("pixelizeButton").classList.add("block");
    } else {
      initializeFont();
    }
    let currentTheme = localStorage.getItem("currentTheme");
    if (currentTheme === null) {
      currentTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
    }
    if (isToggle) {
      if (currentTheme === "dark") {
        document.body.classList.remove("fadeindarkclass");
        document.body.offsetWidth;
        document.body.classList.add("fadeindarkclass");
      } else {
        document.body.classList.remove("fadeinlightclass");
        document.body.offsetWidth;
        document.body.classList.add("fadeinlightclass");
      }
    }
  }

  function toggleFont() {
    let currentFont = localStorage.getItem("currentFont");
    if (currentFont === "default") {
      setFont("normal", true);
    } else if (currentFont === "normal") {
      setFont("default", true);
    } else {
      initializeFont();
    }
  }

  document.addEventListener("DOMContentLoaded", pageTransition);
  document.addEventListener("astro:after-swap", pageTransition);
</script>

<style>
  @keyframes fadein {
    0% {
      opacity: 0;
      background-color: #d8dee9;
    }
    100% {
      opacity: 1;
      background-color: #d8dee9;
    }
  }
  body.fadeinlightclass {
    animation: fadein 1s forwards;
  }
  @keyframes fadeindark {
    0% {
      opacity: 0;
      background-color: #3b4252;
    }
    100% {
      opacity: 1;
      background-color: #3b4252;
    }
  }
  body.fadeindarkclass {
    animation: fadeindark 1s forwards;
  }
</style>
