---
import IconLink from "@/components/IconLink.astro";
import SpotifyStatus from "@/components/SpotifyStatus.astro";
---

<div class="sticky top-[100vh] w-full items-center px-6 py-6 space-y-4">
  <SpotifyStatus />
  <span class="flex justify-center text-center w-full space-x-4">
    <span id="yanopPortfolioCopyRight" class="text-sm" transition:persist
    ></span>
    <span id="yanopPortfolioVersion" class="text-sm" transition:persist></span>
    <span
      class="flex space-x-4 border-main dark:border-main-dark border-l pl-4"
    >
      <IconLink
        icon="ri:github-fill"
        href="https://github.com/yanosea"
        targetBlank
      />
      <IconLink
        icon="ri:twitter-x-fill"
        href="https://twitter.com/no_sea_"
        targetBlank
      />
      <IconLink icon="mdi:rss-box" href="/feed.xml" targetBlank />
    </span>
  </span>
</div>

<script>
  import { setCopyRight } from "../libs/common.ts";
  import { setLatestVersion } from "../libs/common.ts";
  import { updateSpotifyStatus } from "../libs/spotify.ts";
  await setCopyRight();
  await setLatestVersion();
  setInterval(updateSpotifyStatus, 60000);
  await updateSpotifyStatus();
</script>
