---
import { Icon } from "astro-icon/components";
---

<span id="SpotifyStatus" style="display: none" transition:persist>
  <span
    id="NowPlaying"
    class="flex flex-col sm:flex-row w-full justify-center items-center space-x-0 sm:space-x-4 space-y-2 sm:space-y-0"
    style="display: none"
  >
    <span class="flex flex-col justify-center items-center">
      <a id="ImgLink" href="" target="_blank">
        <span
          class="flex flex-col justify-center items-center space-y-1 hover:text-blue-600 transition-colors"
        >
          <p class="flex items-center transition-colors">
            <Icon class="w-4 h-4" name="ri:spotify-fill" />
            <span class="ml-2">now playing</span>
          </p>
          <img
            id="ImgSrc"
            src=""
            alt="album cover"
            class="object-scale-down h-24 w-24"
          />
        </span>
      </a>
    </span>
    <span class="flex flex-col justify-center">
      <a
        href="https://open.spotify.com/user/314sfaf6ikzxgxpur7hwflapmc4m"
        target="_blank"
      >
        <p
          class="flex justify-center sm:justify-start items-center transition-colors"
        >
          <Icon class="w-4 h-4 text-emerald-500" name="ri:user-follow-fill" />
          <span class="ml-2 text-emerald-500">yanosea online!</span>
        </p>
      </a>
      <a id="TrackLink" href="" target="_blank">
        <p class="flex items-center transition-colors hover:text-blue-600">
          <Icon class="w-4 h-4" name="ph:music-note-fill" />
          <span id="TrackName" class="ml-2"></span>
        </p>
      </a>
      <a id="AlbumLink" href="" target="_blank">
        <p class="flex items-center transition-colors hover:text-blue-600">
          <Icon class="w-4 h-4" name="ph:disc-fill" />
          <span id="AlbumName" class="ml-2"></span>
        </p>
      </a>
      <a id="ArtistLink" href="" target="_blank">
        <p class="flex items-center transition-colors hover:text-blue-600">
          <Icon class="w-4 h-4" name="ph:microphone-stage-fill" />
          <span id="ArtistName" class="ml-2"></span>
        </p>
      </a>
    </span>
  </span>

  <span
    id="LastPlayed"
    class="flex flex-col sm:flex-row w-full justify-center items-center space-x-0 sm:space-x-4 space-y-2 sm:space-y-0"
    style="display: none"
  >
    <span class="flex flex-col justify-center items-center">
      <a id="ImgLink" href="" target="_blank">
        <span
          class="flex flex-col justify-center items-center space-y-1 hover:text-blue-600 transition-colors"
        >
          <p class="flex items-center transition-colors">
            <Icon class="w-4 h-4" name="ri:spotify-fill" />
            <span class="ml-2">last played</span>
          </p>
          <img
            id="ImgSrc"
            src=""
            alt="album cover"
            class="object-scale-down h-24 w-24"
          />
        </span>
      </a>
    </span>
    <span class="flex flex-col justify-center">
      <a
        href="https://open.spotify.com/user/314sfaf6ikzxgxpur7hwflapmc4m"
        target="_blank"
      >
        <p
          class="flex justify-center sm:justify-start items-center transition-colors"
        >
          <Icon class="w-4 h-4 text-red-500" name="ri:user-unfollow-fill" />
          <span class="ml-2 text-red-500">yanosea offline...</span>
        </p>
      </a>
      <p class="flex items-center transition-colors">
        <Icon class="w-4 h-4" name="ph:clock-fill" />
        <span id="PlayedAt" class="ml-2"></span>
      </p>
      <a id="TrackLink" href="" target="_blank">
        <p class="flex items-center transition-colors hover:text-blue-600">
          <Icon class="w-4 h-4" name="ph:music-note-fill" />
          <span id="TrackName" class="ml-2"></span>
        </p>
      </a>
      <a id="AlbumLink" href="" target="_blank">
        <p class="flex items-center transition-colors hover:text-blue-600">
          <Icon class="w-4 h-4" name="ph:disc-fill" />
          <span id="AlbumName" class="ml-2"></span>
        </p>
      </a>
      <a id="ArtistLink" href="" target="_blank">
        <p class="flex items-center transition-colors hover:text-blue-600">
          <Icon class="w-4 h-4" name="ph:microphone-stage-fill" />
          <span id="ArtistName" class="ml-2"></span>
        </p>
      </a>
    </span>
  </span>
</span>
