---
import { Icon } from "astro-icon/components";
---

<span id="spotifyStatus" style="display: none" transition:persist>
  <span
    id="nowPlaying"
    class="flex flex-col sm:flex-row w-full justify-center items-center space-x-0 sm:space-x-4 space-y-2 sm:space-y-0"
    style="display: none"
  >
    <span class="flex flex-col justify-center items-center">
      <a id="nowPlayingImgLink" href="" target="_blank">
        <span
          class="flex flex-col justify-center items-center space-y-1 hover:text-blue transition-colors"
        >
          <p class="flex items-center transition-colors">
            <Icon class="w-4 h-4" name="ri:spotify-fill" />
            <span class="ml-2">now playing</span>
          </p>
          <img
            id="nowPlayingImgSrc"
            src=""
            alt="album cover"
            class="object-scale-down h-24 w-24"
          />
        </span>
      </a>
    </span>
    <span class="flex flex-col justify-center space-y-1">
      <a
        href="https://open.spotify.com/user/314sfaf6ikzxgxpur7hwflapmc4m"
        target="_blank"
      >
        <p
          class="flex justify-center sm:justify-start items-center transition-colors"
        >
          <Icon class="w-4 h-4 text-green" name="ri:user-follow-fill" />
          <span class="ml-2 text-green">yanosea online!</span>
        </p>
      </a>
      <a id="nowPlayingTrackLink" href="" target="_blank">
        <p class="flex items-center transition-colors hover:text-blue">
          <Icon class="w-4 h-4" name="ph:music-note-fill" />
          <span id="nowPlayingTrackName" class="ml-2"></span>
        </p>
      </a>
      <a id="nowPlayingAlbumLink" href="" target="_blank">
        <p class="flex items-center transition-colors hover:text-blue">
          <Icon class="w-4 h-4" name="ph:disc-fill" />
          <span id="nowPlayingAlbumName" class="ml-2"></span>
        </p>
      </a>
      <a id="nowPlayingArtistLink" href="" target="_blank">
        <p class="flex items-center transition-colors hover:text-blue">
          <Icon class="w-4 h-4" name="ph:microphone-stage-fill" />
          <span id="nowPlayingArtistName" class="ml-2"></span>
        </p>
      </a>
    </span>
  </span>

  <span
    id="lastPlayed"
    class="flex flex-col sm:flex-row w-full justify-center items-center space-x-0 sm:space-x-4 space-y-2 sm:space-y-0"
    style="display: none"
  >
    <span class="flex flex-col justify-center items-center">
      <a id="lastPlayedImgLink" href="" target="_blank">
        <span
          class="flex flex-col justify-center items-center space-y-1 hover:text-blue transition-colors"
        >
          <p class="flex items-center transition-colors">
            <Icon class="w-4 h-4" name="ri:spotify-fill" />
            <span class="ml-2">last played</span>
          </p>
          <img
            id="lastPlayedImgSrc"
            src=""
            alt="album cover"
            class="object-scale-down h-24 w-24"
          />
        </span>
      </a>
    </span>
    <span class="flex flex-col justify-center space-y-1">
      <a
        href="https://open.spotify.com/user/314sfaf6ikzxgxpur7hwflapmc4m"
        target="_blank"
      >
        <p
          class="flex justify-center sm:justify-start items-center transition-colors"
        >
          <Icon class="w-4 h-4 text-red" name="ri:user-unfollow-fill" />
          <span class="ml-2 text-red">yanosea offline...</span>
        </p>
      </a>
      <p class="flex items-center transition-colors">
        <Icon class="w-4 h-4" name="ph:clock-fill" />
        <span id="lastPlayedPlayedAt" class="ml-2"></span>
      </p>
      <a id="lastPlayedTrackLink" href="" target="_blank">
        <p class="flex items-center transition-colors hover:text-blue">
          <Icon class="w-4 h-4" name="ph:music-note-fill" />
          <span id="lastPlayedTrackName" class="ml-2"></span>
        </p>
      </a>
      <a id="lastPlayedAlbumLink" href="" target="_blank">
        <p class="flex items-center transition-colors hover:text-blue">
          <Icon class="w-4 h-4" name="ph:disc-fill" />
          <span id="lastPlayedAlbumName" class="ml-2"></span>
        </p>
      </a>
      <a id="lastPlayedArtistLink" href="" target="_blank">
        <p class="flex items-center transition-colors hover:text-blue">
          <Icon class="w-4 h-4" name="ph:microphone-stage-fill" />
          <span id="lastPlayedArtistName" class="ml-2"></span>
        </p>
      </a>
    </span>
  </span>
</span>
