---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

import { Icon } from "astro-icon/components";
---

<BaseLayout>
  <div class="flex flex-col h-screen">
    <Header borderVisible={false} isSticky={false} />
    <main class="flex items-center justify-center flex-1">
      <div class="m-auto">
        <div class="flex flex-col items-center">
          <span class="flex justify-center items-center mx-auto my-auto">
            <Icon class="w-16 h-16" name="mdi:bow-arrow" />
            <p class="font-bold text-6xl ml-4">yanosea</p>
          </span>
        </div>
      </div>
    </main>
    <Footer />
  </div>
</BaseLayout>
