/**
 * Document Styles
 * html, body base styles
 */

@layer base {
  html {
    font-family: var(--font-family-base);
    font-size: 16px;
    background-color: var(--color-bg-primary);
    color: var(--color-fg-primary);
  }

  body {
    font-size: var(--font-size-base);
    visibility: visible !important;
  }
}
