name: Backend Quality Check

on:
  pull_request:
    branches: [main]

env:
  DENO_VERSION: "2.x"

jobs:
  quality-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: ${{ env.DENO_VERSION }}

      - name: Quality checks
        run: make back.check

      - name: Test
        run: make back.test
